:import('../vars.module.css') {
	$max-mobile-width: max-mobile-width;
}

.mobileV_desktopH {
	display: flex;
}

@media (min-width: calc($max-mobile-width + 1px)) {
	.mobileV_desktopH {
		flex-direction: row;
	}
}

@media (max-width: $max-mobile-width) {
	.mobileV_desktopH {
		flex-direction: column;
	}
}

.horizontalFlex {
	display: flex;
	flex-direction: row;
}

.centeredItems {
    align-items: center;
    justify-content: center;
}

.flexStartItems {
    align-items: flex-start;
    justify-content: center;
}

.verticalFlex {
	display: flex;
	flex-direction: column;
}
