node_modules/
.cache/
public
cypress/cypress/report.html
cypress/cypress/reports
cypress/cypress/snapshots/actual
cypress/cypress/snapshots/diff
gatsby/src/gatsby-types.d.ts
reg.json
.ssh/
.env.*
img_diffs/
