:import('../vars.module.css') {
	$max-mobile-width: max-mobile-width;
}

.section {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 1rem 2rem;
	margin: 0;
	float: left;
	clear: both;
}

.sectionBlack {
	background-color: #000;
	color: #dcded6;
}

.sectionBlack h1 {
}

.sectionBlack a {
	color: #dcded6;
}

.sectionWhite {
	background-color: white;
	color: #000;
}

.sectionWhite a {
	color: #000;
}

.cultureImgDesktop {
	margin: 0 auto;
}

.img0 {
	height: auto;
	width: 20rem;
}

.img1 {
	height: auto;
	width: 20rem;
}

.img2 {
	height: auto;
	width: 30rem;
}

.img3 {
	height: auto;
	width: 20rem;
}

.relative {
	position: relative;
}

.relative_a{
	top: 30px;
}
