:import('../vars.module.css') {
	$max-mobile-width: max-mobile-width;
}

.servicesImg {
	width: 100%;
	height: auto;
}

.servicesFlexItem {
	flex: 1 1 0;
	width: 100%;
	padding: 0 1rem;
	max-width: 550px;
	margin: 0 auto;
}

@media (max-width: $max-mobile-width) {
	.servicesFlexItem {
		padding: 0;
	}
}
