:import('./vars.module.css') {
	$max-mobile-width: max-mobile-width;
}

.chilidog {
	display: none;
	transform: scale(0.80);
	margin: auto 0;
}

.navbar {
	height: 3rem;
	border: 0px solid #dcded6;
	border-width: 0 0 0.5px 0;
	padding: 0px 10px 15px 10px;
	margin: 0 1rem;
}

.container {
	display: flex;
}

.container a {
	color: #dcded6;
}

.nav {
	display: flex;
	flex-direction: row;
}

.navItem {
	margin: auto 0;
	border: 1px solid red;
}

.homeItem {
	padding: 0 0.5rem;
	margin: auto;
}

@media (max-width: $max-mobile-width) {
	.chilidog {
		display: block;
	}

	.nav {
		display: flex;
		flex-direction: column;
	}

	.navItem {
		display: none;
	}

	.homeItem {
		margin: auto;
	}
}

.pageItem {
	flex: 0 1 0;
	padding: 0 1rem;
}
