:import('./vars.module.css') {
	$max-mobile-width: max-mobile-width;
	$nav-height: nav-height;
}

.fixed {
	position: fixed;
}

.navbarContainer {
	box-sizing: border-box;
	padding: 0 1rem;
	height: $nav-height;
	width: 100%;
}

.navbar {
	height: $nav-height;
	width: 100%;
	border: 0px solid #dcded6;
	border-width: 0 0 0.5px 0;
}

.container {
	display: flex;
}

.chilidog {
	display: none;
	transform: scale(0.80);
	margin: auto 0;
}

.container a {
	color: #dcded6;
}

.navItem {
	margin: auto 0;
}

.homeItem {
	margin: auto auto auto 0;
}

.itemListHomeItem {
	display: none;
}

.pageItemList {
	display: flex;
}

.pageItemListMobile {
}

@media (max-width: $max-mobile-width) {
	.container {
	}

	.chilidog {
		display: block;
	}

	.navItem {
		margin: 0.5rem auto;
	}

	.homeItem {
		margin: auto;
	}

	.home {
		margin: auto 0;
	}

	.itemListHomeItem {
		position: relative;
		box-sizing: border-box;
		display: block;
		text-align: center;
		padding: 1rem 0 4rem 0;
		width: 100%;
		margin: 0 auto;
	}

	.menuClose {
		position: absolute;
		left: 2rem;
		padding: auto;
		margin: auto;
	}

	.pageItemList {
		display: none;
	}

	.pageItemListMobile {
		display: flex;
		position: fixed;
		bottom: 100%;
		box-sizing: border-box;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		width: 100%;
		padding: auto;
		margin: 0;
		background-color: #1a1a1a;
	}
}

.mobileMenuOpen {
	bottom: 0;
	visibility: visible;
}

.pageItem {
	flex: 0 1 0;
	padding: 0 0.4rem;
}
