:import('./vars.css') {
	$max-mobile-width: max-mobile-width;
}

.chilidog {
  display: none;
	width: 40px;
	height: 52px;
}

.navContainer {
	border: 1px solid black;
	border-width: 0 0 1px 0;
	height: 3rem;
	background-color: #000;
}

.nav {
	display: flex;
	flex-direction: row;
}

.navItem {
}

@media (max-width: $max-mobile-width) {
	.chilidog {
		display: block;
	}

	.nav {
		display: flex;
		flex-direction: column;
	}

	.navItem {
		display: none;
	}
}

.homeItem {
	flex: 1 1 0;
	padding: 0 0.5rem;
}

.pageItem {
	flex: 0 1 0;
	padding: 0 1rem;
}
