:import('../vars.module.css') {
	$nav-height: nav-height;
}

:import('../vars_colors.module.css') {
    $light-font-color: light-font-color;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0 0.25rem 0;
  border-bottom: 1px solid $light-font-color;
  height: $nav-height;
  width: 100%;
}
