:import('../vars.module.css') {
	$nav-height: nav-height;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #dcded6;
  height: $nav-height;
  width: 100%;
}
