:import('../vars.module.css') {
	$max-mobile-width: max-mobile-width;
}

@media (min-width: calc($max-mobile-width + 1px)) {
    .navHeaderHomeItem {
        margin: auto auto auto 0;
    }

    .marginVerticalAuto {
        margin: auto 0;
    }

    .navItemsHomeNav {
        display: none;
    }

    .navItems {
        align-items: center;
        justify-content: flex-end;
    }
}
