:import('../vars.module.css') {
	$max-mobile-width: max-mobile-width;
    $nav-bg-color: nav-bg-color;
}

.closeBtn {
    display: none;
}

@media (max-width: $max-mobile-width) {
    .chilidog {
        box-sizing: border-box;
    }

    .closeBtn {
        display: block;
        position: absolute;
        right: 0;
        top: 1.45rem;
    }

    .navItemsHomeNav {

    }

    .navItems {
      position: fixed;
      overflow: hidden;
      right: 0;
      left: 0;
      box-sizing: border-box;
      justify-content: flex-start;
      align-items: stretch;
      padding: 2rem 1rem 0 1rem;
      row-gap: 2rem;
      height: 100%;
      width: 100%;
      background-color: $nav-bg-color;
      transition: bottom 0.5s ease-in-out;
      z-index: 666;
    }

    .mobileNavItem {
      border: 0px solid red;
    }

    .navItemsActive {
      bottom: 0;
    }

    .navItemsHidden {
      bottom: 150%;
    }
}
