:import('./vars.module.css') {
    $max-mobile-width: max-mobile-width;
    $grey-color: grey-color;
    $subnav-padding: subnav-padding;
    $subnav-border-radius: subnav-border-radius;
    $subnav-separation-top: subnav-separation-top;
    $subnav-icon-text-gap: subnav-icon-text-gap;
}

.subNavUl {
    align-self: flex-start;
    padding: 0;
}

@media (min-width: calc($max-mobile-width + 1px)) {
    .navButton {
        padding: 0;
    }

    .navButton .subNavConnector {
        opacity: 0;
    }

    .subNavConnector {
        transition: opacity 0.10s ease-out;
    }

    .dropDown {
        position: relative;
    }

    .dropDownContent {
        display: none;
        flex-direction: column;
        position: absolute;
        left: -4rem;
        top: 0;
        transition: top 0.13s ease-in;
        row-gap: $subnav-padding;
        background-color: $grey-color;
        padding: $subnav-padding;
        border: 2px solid $grey-color;
        border-radius: $subnav-border-radius;
    }

    .dropDown:hover .dropDownContent {
        top: $subnav-separation-top;
        display: flex;
        opacity: 1;
    }

    .subNavItem {
    }

    .careersNavButton {
        padding: 0 0 0 0.8rem;
    }
}

.subNavItem {
    overflow: hidden;
    white-space: nowrap;
    justify-content: flex-start;
    gap: $subnav-icon-text-gap;
}

.svgButton {
	background: none;
	border: none;
}
