:import('./vars.module.css') {
	$max-mobile-width: max-mobile-width;
}

@media (min-width: calc($max-mobile-width + 1px)) {
    .navButton {
        padding: 0 0 0 1.6rem;
    }

    .navButton .subNav {
        position: absolute;
        visibility: hidden;
    }

    .navButton:hover .subNav {
        visibility: visible;
    }

    .careersNavButton {
        padding: 0 0 0 0.8rem;
    }
}

.svgButton {
	background: none;
	border: none;
}
