:import('./vars.module.css') {
	$light-font-color: light-font-color;
}

.root {
  color: $light-font-color;
  overflow: hidden;
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: "-apple-system", "Roboto", "sans-serif", serif;
}
