:import('./vars.module.css') {
	$max-mobile-width: max-mobile-width;
	$nav-height: nav-height;
}

.closeBtn {
    display: none;
}

@media (max-width: $max-mobile-width) {
    .navbar {
        display: flex;
        flex-direction: column;
        padding: auto;
        width: 100%;
        height: $nav-height;
    }

    .closeBtn {
        display: block;
        position: absolute;
        left: 3rem;
        top: 1.45rem;
    }

    .mobileMenuRoot {
        padding: auto;
        width: 100%;
        height: $nav-height;
    }
    .chilidog {
        position: absolute;
        top: 6px;
        right: 2.0rem;
        margin: auto 0;
    }
    .navHomeItem {
        flex: 0.1 1 0;
        margin-top: 1rem;
        width: 100%;
        padding: 2rem auto;
        text-align: center;
    }

    .navItem {
        flex: 0.1 1 0;
        text-align: center;
        width: 100%;
        padding: 2rem auto;
    }

    .mobileMenu {
      position: fixed;
      right: 0;
      left: 0;
      box-sizing: border-box;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 1rem;
      background-color: #1a1a1a;
      transition: bottom 0.5s ease-in-out;
      z-index: 666;
    }

    .menuActive {
      bottom: 0;
    }

    .menuHidden {
      bottom: 100%;
    }

    .navHeaderMobile {
        height: 100%;
    }
}
