:import('./vars.module.css') {
	$max-mobile-width: max-mobile-width;
	$nav-height: nav-height;
}

/* Index */
.navIndexRoot {
	box-sizing: border-box;
	padding: 0 10px 15px 10px;
	border-bottom: 1px solid #dcded6;
	margin: 0 1rem;
}

 /* mobile */
/**********/

.mobileNavRoot {
	padding: auto;
	width: 100%;
	height: $nav-height;
}

.chilidog {
	position: absolute;
	top: 6px;
	right: 2.0rem;
	margin: auto 0;
}

.mobileMenuCloseBtn {
	position: absolute;
	left: 3rem;
	top: 1.45rem;
}

.homeItemMobile {
	position: relative;
	box-sizing: border-box;
	text-align: center;
	padding: 1rem 0 4rem 0;
	width: 100%;
	margin: 0 auto;
}

.mobileMenuItem {
	flex: 0.1 1 0;
	text-align: center;
	width: 100%;
	padding: 2rem auto;
}

.mobileMenuHomeItem {
	flex: 0.1 1 0;
	margin-top: 1rem;
	width: 100%;
	padding: 2rem auto;
	text-align: center;
}

.mobileMenuLinkItem {
	width: 100%;
}

.mobileMenuOpened {
	bottom: 0;
	visibility: visible;
}

.mobileMenu {
	position: fixed;
	right: 0;
	left: 0;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 1rem;
	background-color: #1a1a1a;
}

.mobileMenuActive {
	bottom: 0;
}

.mobileMenuHidden {
	bottom: 100%;
}

/***********/
/* Desktop */
/***********/

.desktopRoot {
	color: #dcded6;
}

/* HR! */
.hr {
	border: none;
	height: 5px;
	background-color: #e00;
	padding: 0;
	margin: 0;
}

/* Other */
.borderBlue {
	border: 1px solid blue;
}

.navHeaderMobile {
	height: 100%;
}

.navHeaderHomeItem {
	margin: auto auto auto 0;
}

.fixed {
	position: fixed;
}

.navbar {
	position: relative;
	box-sizing: border-box;
	height: $nav-height;
	width: 100%;
}

.navbarUnderline {
	border: 0px solid #dcded6;
	border-width: 0 0 0.5px 0;
}

.marginVerticalAuto {
	margin: auto 0;
}

.marginVerticalFixed {
	margin: 0.5rem 0;
}

.homeItemDesktop {
	margin: auto auto auto 0;
}

/* all */
.navItem {
	flex: 0 1 0;
	margin: auto 0;
	padding: 0 0.4rem;
}

.homeNavItem {
	margin-top: 1rem;
}
