:import('./vars.module.css') {
	$max-mobile-width: max-mobile-width;
	$nav-height: nav-height;
}

/* Index */
.navIndexRoot {
	box-sizing: border-box;
	padding: 0 1rem;
	height: $nav-height;
	width: 100%;
}

 /* Mobile */
/**********/

.mobileNavRoot {
	padding: auto;
	width: 100%;
	height: $nav-height;
}

.chilidog {
	position: absolute;
	top: 0.6rem;
	left: 2.0rem;
	margin: auto 0;
}

.homeItemMobile {
	position: relative;
	box-sizing: border-box;
	text-align: center;
	padding: 1rem 0 4rem 0;
	width: 100%;
	margin: 0 auto;
}

.navItemMobile {
	flex: 0 1 0;
	padding: 0 0.4rem;
}

.mobileMenuOpen {
	bottom: 0;
	visibility: visible;
}

.mobilMenuClose {
	position: absolute;
	left: 2rem;
	padding: auto;
	margin: auto;
}

.navMenuMobileOpened {
	position: fixed;
	bottom: 100%;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: auto;
	margin: 0;
	background-color: #1a1a1a;
}

 /* Desktop */
/***********/

.desktopRoot {
	color: #dcded6;
}

/* HR! */
.hr {
	border: none;
	height: 5px;
	background-color: #e00;
	padding: 0;
	margin: 0;
}

/* Other */
.borderBlue {
	border: 1px solid blue;
}

.navHeaderMobile {
	height: 100%;
}

.navHeaderHomeItem {
	margin: auto;
}

.fixed {
	position: fixed;
}

.navbar {
	height: $nav-height;
	width: 100%;
}

.navbarUnderline {
	border: 0px solid #dcded6;
	border-width: 0 0 0.5px 0;
}

.container a {
	color: #dcded6;
}

.marginVerticalAuto {
	margin: auto 0;
}

.marginVerticalFixed {
	margin: 0.5rem 0;
}

.homeItemDesktop {
	margin: auto auto auto 0;
}
