:import('./vars.module.css') {
	$toast-bg-color: toast-bg-color;
}

.toastContainer {
  position: fixed;
  background-color: $toast-bg-color;
  color: black;
  left: 50%;
  transform: translate(-50%, -0%);
  z-index: 0;
}

.visible {
  top: 12px;
}

.hidden {
  top: -100%;
}

.insetShadow {
  border: 0px solid red;
  box-shadow: 2px 1px 8px #000000aa inset;
}

.toast {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 2px 4px;
}

.exclamation {
  padding: 2px 8px 2px 2px;
}

.center {
   align-items: center;
   justify-content: center;
}

.inline {
  display: inline-block;
  padding: 2px;
  border: 1px solid red;
}

.border {
  border: 0px solid red;
}

.flexPad {
  padding: 2px 6px 4px 6px;
}

.svgPad {
  padding: 1px 8px 0px 0;
}

.svgTranslate {
  transform: translate(0, 1px);
}

.msgPad {
  padding: 1px 0 0 0;
}

.closePad {
  padding: 1px 0 0 6px;
}

.close {
  box-sizing: border-box;
  background-color: #00000000;
  font-weight: bold;
  font-size: 1.0em;
  color: #00000099;
  border: 0px solid red;
  margin: auto;
}

.close:hover {
  color: #000000ff;
  font-weight: bold;
}

.toastItem {
}

.toastOkButton {
}
