:import('./vars.module.css') {
	$max-mobile-width: max-mobile-width;
}

.flexContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

@media (max-width: $max-mobile-width) {
	.flexContainer {
		flex-direction: column;
	}
}

.auxWrapper {
	display: flex;
	flex-direction: row;
	width: 100rem;
}

.auxItemWrapper {
	margin: auto;
	flex: 0 0 auto;
}

.auxItem {
}

@media (max-width: calc($max-mobile-width + 5rem)) {
	.auxWrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
		width: 100%;
	}
}
