:export {
    light-font-color: #ffffff;
    nav-bg-color: #1a1a1a;
    toast-bg-color: #ffd940;
    toast-inset-shadow: #000000cc;
    transparent: #00000000;
    black-shadow-light: #00000099;
    black: #000000ff;
    toast-close-spacing: 8px;
	max-mobile-width: 678px;
	max-mobile-culture-offset: 153px;
	nav-height: 3rem;
	padding-top: 1rem;
}
